In [263]:
import pandas as pd
import numpy as np
import datetime

In [264]:
df = pd.read_csv('/content/sample_data/train.csv')

In [265]:
df.head(10)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
6,8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,5.20
7,9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.3 kmpl,1248 CC,74 bhp,5.0,NaN,1.95
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
9,11,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,Petrol,Automatic,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,NaN,4.49

#B)Remove the units from some of the attributes and only keep the numerical values (for example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from “New_price”).

In [266]:
df1=pd.DataFrame(df)

In [267]:
df1['Mileage'] = df1['Mileage'].str.extract('(\d+\.\d+)').astype(float)

df1['Engine'] = df1['Engine'].str.replace(' CC', '').astype(float)

df1['Power'] = df1['Power'].str.extract('(\d+\.\d+)').astype(float)

df1['New_Price'] = df1['New_Price'].str.extract('(\d+\.\d+)').astype(float)

In [268]:
df1.head(10)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,NaN,1199.0,88.70,5.0,8.61,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,NaN,3.50
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36,2755.0,171.50,8.0,NaN,17.50
6,8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54,1598.0,103.60,5.0,NaN,5.20
7,9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.30,1248.0,NaN,5.0,NaN,1.95
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56,1462.0,103.25,5.0,10.65,9.95
9,11,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,Petrol,Automatic,First,16.80,1497.0,116.30,5.0,NaN,4.49

# A)Look for the missing values in all the columns and either impute them (replace with mean, median, or mode) or drop them. Justify your action for this task

In [269]:
#checking for the missing values
missing_values = df.isnull()
print(missing_values)

      Unnamed: 0   Name  Location   Year  Kilometers_Driven  Fuel_Type  \
0          False  False     False  False              False      False
1          False  False     False  False              False      False
2          False  False     False  False              False      False
3          False  False     False  False              False      False
4          False  False     False  False              False      False
...          ...    ...       ...    ...                ...        ...
5842       False  False     False  False              False      False
5843       False  False     False  False              False      False
5844       False  False     False  False              False      False
5845       False  False     False  False              False      False
5846       False  False     False  False              False      False

      Transmission  Owner_Type  Mileage  Engine  Power  Seats  New_Price  \
0            False       False    False   False  False  False       True
1            False       False     True   False  False  False      False
2            False       False    False   False  False  False       True
3            False       False    False   False  False  False       True
4            False       False    False   False  False  False       True
...            ...         ...      ...     ...    ...    ...        ...
5842         False       False    False   False   True  False      False
5843         False       False    False   False   True  False       True
5844         False       False    False   False   True  False       True
5845         False       False    False   False  False  False       True
5846         False       False    False   False  False  False       True

      Price
0     False
1     False
2     False
3     False
4     False
...     ...
5842  False
5843  False
5844  False
5845  False
5846  False

[5847 rows x 14 columns]

In [270]:
#imputing the missing values
missing_values = df.isnull()
print(missing_values)

      Unnamed: 0   Name  Location   Year  Kilometers_Driven  Fuel_Type  \
0          False  False     False  False              False      False
1          False  False     False  False              False      False
2          False  False     False  False              False      False
3          False  False     False  False              False      False
4          False  False     False  False              False      False
...          ...    ...       ...    ...                ...        ...
5842       False  False     False  False              False      False
5843       False  False     False  False              False      False
5844       False  False     False  False              False      False
5845       False  False     False  False              False      False
5846       False  False     False  False              False      False

      Transmission  Owner_Type  Mileage  Engine  Power  Seats  New_Price  \
0            False       False    False   False  False  False       True
1            False       False     True   False  False  False      False
2            False       False    False   False  False  False       True
3            False       False    False   False  False  False       True
4            False       False    False   False  False  False       True
...            ...         ...      ...     ...    ...    ...        ...
5842         False       False    False   False   True  False      False
5843         False       False    False   False   True  False       True
5844         False       False    False   False   True  False       True
5845         False       False    False   False  False  False       True
5846         False       False    False   False  False  False       True

      Price
0     False
1     False
2     False
3     False
4     False
...     ...
5842  False
5843  False
5844  False
5845  False
5846  False

[5847 rows x 14 columns]

In [271]:
df_filled_mean = df.fillna(df.mean())
print(df_filled_mean)

      Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Fuel_Type Transmission Owner_Type    Mileage  Engine  \
0                 41000    Diesel       Manual      First  19.670000  1582.0
1                 46000    Petrol       Manual      First  18.159379  1199.0
2                 87000    Diesel       Manual      First  20.770000  1248.0
3                 40670    Diesel    Automatic     Second  15.200000  1968.0
4                 86999    Diesel       Manual      First  23.080000  1461.0
...                 ...       ...          ...        ...        ...     ...
5842              27365    Diesel       Manual      First  28.400000  1248.0
5843             100000    Diesel       Manual      First  24.400000  1120.0
5844              55000    Diesel       Manual     Second  14.000000  2498.0
5845              46000    Petrol       Manual      First  18.900000   998.0
5846              47000    Diesel       Manual      First  25.440000   936.0

           Power  Seats  New_Price  Price
0     126.200000    5.0  20.540474  12.50
1      88.700000    5.0   8.610000   4.50
2      88.760000    7.0  20.540474   6.00
3     140.800000    5.0  20.540474  17.74
4      63.100000    5.0  20.540474   3.50
...          ...    ...        ...    ...
5842  107.352151    5.0   7.880000   4.75
5843  107.352151    5.0  20.540474   4.00
5844  107.352151    8.0  20.540474   2.90
5845   67.100000    5.0  20.540474   2.65
5846   57.600000    5.0  20.540474   2.50

[5847 rows x 14 columns]

<ipython-input-271-78463e442985>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_filled_mean = df.fillna(df.mean())

In [272]:
#imputing from median
df_filled_median = df.fillna(df.median())
print(df_filled_median)

      Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
0                 41000    Diesel       Manual      First    19.67  1582.0
1                 46000    Petrol       Manual      First    18.19  1199.0
2                 87000    Diesel       Manual      First    20.77  1248.0
3                 40670    Diesel    Automatic     Second    15.20  1968.0
4                 86999    Diesel       Manual      First    23.08  1461.0
...                 ...       ...          ...        ...      ...     ...
5842              27365    Diesel       Manual      First    28.40  1248.0
5843             100000    Diesel       Manual      First    24.40  1120.0
5844              55000    Diesel       Manual     Second    14.00  2498.0
5845              46000    Petrol       Manual      First    18.90   998.0
5846              47000    Diesel       Manual      First    25.44   936.0

       Power  Seats  New_Price  Price
0     126.20    5.0      11.47  12.50
1      88.70    5.0       8.61   4.50
2      88.76    7.0      11.47   6.00
3     140.80    5.0      11.47  17.74
4      63.10    5.0      11.47   3.50
...      ...    ...        ...    ...
5842   88.80    5.0       7.88   4.75
5843   88.80    5.0      11.47   4.00
5844   88.80    8.0      11.47   2.90
5845   67.10    5.0      11.47   2.65
5846   57.60    5.0      11.47   2.50

[5847 rows x 14 columns]

<ipython-input-272-dc78598f829a>:2: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_filled_median = df.fillna(df.median())

In [273]:
#imputing with mode
df_filled_mode = df.fillna(df.mode().iloc[0])
print(df_filled_mode)

      Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
0                 41000    Diesel       Manual      First    19.67  1582.0
1                 46000    Petrol       Manual      First    18.90  1199.0
2                 87000    Diesel       Manual      First    20.77  1248.0
3                 40670    Diesel    Automatic     Second    15.20  1968.0
4                 86999    Diesel       Manual      First    23.08  1461.0
...                 ...       ...          ...        ...      ...     ...
5842              27365    Diesel       Manual      First    28.40  1248.0
5843             100000    Diesel       Manual      First    24.40  1120.0
5844              55000    Diesel       Manual     Second    14.00  2498.0
5845              46000    Petrol       Manual      First    18.90   998.0
5846              47000    Diesel       Manual      First    25.44   936.0

       Power  Seats  New_Price  Price
0     126.20    5.0       4.78  12.50
1      88.70    5.0       8.61   4.50
2      88.76    7.0       4.78   6.00
3     140.80    5.0       4.78  17.74
4      63.10    5.0       4.78   3.50
...      ...    ...        ...    ...
5842   98.60    5.0       7.88   4.75
5843   98.60    5.0       4.78   4.00
5844   98.60    8.0       4.78   2.90
5845   67.10    5.0       4.78   2.65
5846   57.60    5.0       4.78   2.50

[5847 rows x 14 columns]

In [274]:
#dropping the missing values
df_dropped = df.dropna()
print(df_dropped)

      Unnamed: 0                           Name    Location  Year  \
8             10               Maruti Ciaz Zeta       Kochi  2018
13            15    Mitsubishi Pajero Sport 4X4       Delhi  2014
26            28            Honda WRV i-VTEC VX       Kochi  2018
32            34  Volkswagen Vento 1.6 Highline  Coimbatore  2014
34            36  Maruti Vitara Brezza ZDi Plus       Kochi  2018
...          ...                            ...         ...   ...
5818        5989    Audi A4 35 TDI Premium Plus  Coimbatore  2013
5827        5999          Tata Bolt Revotron XT     Chennai  2016
5830        6002  Volkswagen Vento 1.6 Highline      Mumbai  2011
5833        6005       Maruti Vitara Brezza VDi        Pune  2016
5838        6010           Honda Brio 1.2 VX MT       Delhi  2013

      Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
8                 25692    Petrol       Manual      First    21.56  1462.0
13               110000    Diesel       Manual      First    13.50  2477.0
26                37430    Petrol       Manual      First    17.50  1199.0
32                55431    Petrol       Manual     Second    16.09  1598.0
34                50075    Diesel       Manual      First    24.30  1248.0
...                 ...       ...          ...        ...      ...     ...
5818              58629    Diesel    Automatic     Second    18.25  1968.0
5827              10000    Petrol       Manual      First    17.57  1193.0
5830              38000    Petrol       Manual      First    16.09  1598.0
5833              37208    Diesel       Manual      First    24.30  1248.0
5838              33746    Petrol       Manual      First    18.50  1198.0

       Power  Seats  New_Price  Price
8     103.25    5.0      10.65   9.95
13    175.56    7.0      32.01  15.00
26     88.70    5.0      10.57   9.90
32    103.50    5.0      12.33   6.98
34     88.50    5.0      11.12   8.63
...      ...    ...        ...    ...
5818  187.74    5.0      53.14  16.52
5827   88.70    5.0       7.77   4.00
5830  103.50    5.0      11.91   3.25
5833   88.50    5.0       9.93   7.43
5838   86.80    5.0       6.63   3.20

[584 rows x 14 columns]

In [275]:
df1.isna().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 3
Engine                 36
Power                2212
Seats                  38
New_Price            5046
Price                   0
dtype: int64

**RESULTS:**

Imputation with mean, median, or mode is used to preserve the overall
1. statistical properties of the data and can be especially helpful when the missing data is missing at random. It's a simple and effective way to handle missing values without losing a significant amount of information.
2. Dropping missing values is justifiable when the missing data is not informative and the loss of data does not significantly impact the analysis. It should be avoided if missing data patterns carry important information.

#C)Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot encoded value

In [276]:
#To know the categorical values of fuel type and transmission
df['Fuel_Type'].unique()
#setting Diesel =1,Petrol=2, Electric=3

array(['Diesel', 'Petrol', 'Electric'], dtype=object)

In [277]:
#we can set manual as '0' and automatic as '1'
df['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [278]:
df1.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,NaN,1199.0,88.70,5.0,8.61,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,NaN,3.50

In [279]:
#Relacing Categorical variables into numerical one hot encoded value
df['Fuel_Type'].replace({'Diesel': 0, 'Petrol': 1, 'Electric': 2}, inplace=True)
df['Transmission'].replace({'Manual': 0, 'Automatic': 1}, inplace=True)

In [280]:
df1.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,First,19.67,1582.0,126.20,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,1,0,First,NaN,1199.0,88.70,5.0,8.61,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,First,20.77,1248.0,88.76,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,Second,15.20,1968.0,140.80,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,First,23.08,1461.0,63.10,5.0,NaN,3.50

#D)Create one more feature and add this column to the dataset (you can use mutate function in R for this). For example, you can calculate the current age of the car by subtracting “Year” value from the current year

In [281]:
current_year = datetime.datetime.now().year

# Calculate the car age and add it as a new column
df1['Car_Age'] = current_year - df1['Year']
df1.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,First,19.67,1582.0,126.20,5.0,NaN,12.50,8
1,2,Honda Jazz V,Chennai,2011,46000,1,0,First,NaN,1199.0,88.70,5.0,8.61,4.50,12
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,First,20.77,1248.0,88.76,7.0,NaN,6.00,11
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,Second,15.20,1968.0,140.80,5.0,NaN,17.74,10
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,First,23.08,1461.0,63.10,5.0,NaN,3.50,10